<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Home PAGE</h1>
	<p>Welcome home, <%= locals.name %> </p>

	<a href="/admin/add">Add New User</a> | 
	<a href="/admin/user_list">User List</a> | 
	<a href="/logout">Logout</a> 

</body>
</html>