<html>
<head>
    <title>Home page</title>
</head>
<body>
<h1>Home Page</h1>
<p>Welcome home,&nbsp;<a href="/profile"><%= locals.name %></a>  </p>

<a href="/customer/cart">Cart</a> |
<a  href="/logout">Logout</a>

<br/><br/>
<h3>By Preference</h3>
<a href="/customer/male-product">Men</a>
<a href="/customer/female-product">Women</a>

<h3>By Category</h3>
<% for(var i=0; i < categoryList.length; i++){ %>
<a href="/customer/productByCategory/<%=categoryList[i].category%>"><%=categoryList[i].category%></a> <br>
<% } %>

</body>
